<h1>Rails rlz xD</h1>
<p><%= 3 + 5 %></p>

<% if @greet %>
  <p>Hello <%= @name %>!</p>
<% else %>
  <p>Buuu!</p>
<% end %>

<ul>
  <% @numbers.each do |number| %>
    <li><%= number %></li>
  <% end %>
</ul>
