<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> <!-- : 'reload' -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> <!-- : 'reload' -->
  </head>

  <body>

    <div class="container">

      <%= yield %>

    </div>

    <footer><p>Stopka!</p></footer>
  </body>
</html>
